In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Dados/aluguel.csv',sep=';')

df.head(3)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0

In [6]:
# Selecione somente os imóveis classificados com tipo Apartamento.

df1 = df.query("Tipo=='Apartamento'")
df1.shape[0]

19532

In [14]:
# Selecione os imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila.
selecao = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
df2 = df[df.Tipo.isin(selecao)]
print(df2.shape[0])

selecao = (df.Tipo=='Casa') |(df.Tipo=='Casa de Condomínio')|(df.Tipo=='Casa de Vila')
df2_1 = df[selecao]
print(df2_1.shape[0])

2212
2212

In [20]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao = (df['Area']>=60) & (df['Area']<=100)
df3 = df[selecao]
df3.shape[0]

10187

In [26]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

selecao = (df['Quartos']>=4)&(df['Valor']<2000)
df4 = df[selecao]
df4.shape[0]

43

In [31]:
print('Quantidade de imóveis classificados com tipo Apartamento, são de: {}' .format(df1.shape[0]),'\n')

print('Quantidade de imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila, são de: {}'.format(df2.shape[0]),'\n')

print('Quantidade de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites, são de: {}'.format(df3.shape[0]),'\n')

print('Quantidade de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00, são de: {}'.format(df4.shape[0]),'\n')

Quantidade de imóveis classificados com tipo Apartamento, são de: 19532

Quantidade de imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila, são de: 2212

Quantidade de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites, são de: 10187

Quantidade de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00, são de: 43