# Relatório de Análise I

## Importando a Base de Dados

In [1]:
import pandas as pd

In [4]:
aluguel = pd.read_csv('Dados/aluguel.csv',sep=';')

## Informações Gerais sobre a Base de Dados

In [15]:
tipos_de_dados = pd.DataFrame(aluguel.dtypes,columns=['tipo_de_dado'])
tipos_de_dados.columns.name='variaveis'
tipos_de_dados

variaveis  tipo_de_dado
Tipo             object
Bairro           object
Quartos           int64
Vagas             int64
Suites            int64
Area              int64
Valor           float64
Condominio      float64
IPTU            float64

In [19]:
aluguel.shape

(32960, 9)

In [21]:
print('A Base de Dados aprenseta {} registros (imoveis) e {} variáveis.'.format(aluguel.shape[0],aluguel.shape[1]))

A Base de Dados aprenseta 32960 registros (imoveis) e 9 variáveis.

## Relatório Análise II

In [22]:
aluguel.head(3)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0

In [37]:
tipo_imovel = aluguel.Tipo.drop_duplicates()

## Organizando a Visualização

In [41]:
tipo_imovel = pd.DataFrame(tipo_imovel)
tipo_imovel.index= range(tipo_imovel.shape[0]) # redefinindo o index
tipo_imovel.columns.name='Id'
tipo_imovel.head(3)

Id                     Tipo
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala

In [42]:
aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB