## Importando Pandas

In [1]:
import pandas as pd

### Series

In [2]:
data=[1,2,3,4,5]

In [3]:
s= pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ['Linha_' + str(i) for i in range(5)]
index

['Linha_0', 'Linha_1', 'Linha_2', 'Linha_3', 'Linha_4']

In [6]:
s = pd.Series(data=data,index=index)
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
Linha_4    5
dtype: int64

###  Usando Dicionário para Criação de Series

In [10]:
data = {'Linha_'+ str(i): i+1 for i in range(5)}
data

{'Linha_0': 1, 'Linha_1': 2, 'Linha_2': 3, 'Linha_3': 4, 'Linha_4': 5}

In [13]:
s = pd.Series(data)
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
Linha_4    5
dtype: int64

In [14]:
s1 = s+2
s1

Linha_0    3
Linha_1    4
Linha_2    5
Linha_3    6
Linha_4    7
dtype: int64

In [16]:
s2 = s+s1
s2

Linha_0     4
Linha_1     6
Linha_2     8
Linha_3    10
Linha_4    12
dtype: int64

## DataFrames

In [17]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [18]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
index=['Linha_' + str(i) for i in range(3)]
columns=['Coluna_'+str(i)for i in range(3)]
index

['Linha_0', 'Linha_1', 'Linha_2']

In [35]:
df1 = pd.DataFrame(data=data,index=index,columns=columns)
df1

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [36]:
# Usando Dicionario 

data = {'Coluna_0':{'Linha_0':1,'Linha_1':4,'Linha_2':7},
        'Coluna_1':{'Linha_0':2,'Linha_1':5,'Linha_2':8},
        'Coluna_2':{'Linha_0':3,'Linha_1':6,'Linha_2':9},}
df2 = pd.DataFrame(data)

df2

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [37]:
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]

df3=pd.DataFrame(data=data,columns=columns,index=index)
df3

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [38]:
df1[df1>0]='A'

df2[df2>0]='B'

df3[df3>0]='C'

In [40]:
df4= pd.concat([df1,df2,df3])
df4

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

In [41]:
df4= pd.concat([df1,df2,df3],axis=1)
df4

,Coluna_0,Coluna_1,Coluna_2,Coluna_0,Coluna_1,Coluna_2,Coluna_0,Coluna_1,Coluna_2
Linha_0,A,A,A,B,B,B,C,C,C
Linha_1,A,A,A,B,B,B,C,C,C
Linha_2,A,A,A,B,B,B,C,C,C

In [42]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0